{% extends 'layout.html' %}
{% import '_macros.html' as macros with context %}

{% block title %}Change Password {{ super() }}{% endblock title %}

{% block content %}
{{ super() }}
<div class="l-box">
  <div class="user-form">
    <h1>Change Password</h1>
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      {{ macros.render_errors(form.password) }}
      {{ form.password(class_="password", placeholder="current password") }}<br>
      {{ macros.render_errors(form.newpass) }}
      {{ form.newpass(class_="password", placeholder="new password") }}<br>
      {{ macros.render_errors(form.confirm) }}
      {{ form.confirm(class_="password", placeholder="new password again") }}<br>
      {{ form.submit }}
    </form>
  </div>
</div>
{% endblock content %}
